@import '../../task-log-colours.scss';

.tl-create-item {
  width: 30vw;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;

  .input-block {
    margin-bottom: 20px;

    .priority-tracked {
      display: flex;
      justify-content: flex-start;

      .priority {
        margin-right: 50px;
        width: 60px;
        padding: 5px;

        &:hover {
          .label {
            color: $color-white-bright;
          }
        }

        .label {
          color: $color-white-dim;
          margin-bottom: 5px;
        }
      }
    }
  }
}
