@import '../../task-log-colours.scss';

.edit-dialog {
  top: $edit-dialog-top;
  left: $edit-diaog-left;
  z-index: $edit-z;
  width: 45vw;

  &.tl-dialog-backdrop {
    z-index: $edit-back-z;
  }
}
