@import '../../task-log-colours.scss';

.tl-edit-item {
  height: 500px;
  padding: 20px;
  background-color: $color-black-mid;

  display: grid;
  grid-template-areas:
    'title complete tracking priority'
    'title ... ... ...'
    'desc desc desc desc';
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 10fr);
  grid-template-columns: minmax(0, 10fr) repeat(3, minmax(0, 1fr));

  .title {
    grid-area: title;
  }

  .complete {
    grid-area: complete;
  }

  .tracking {
    grid-area: tracking;
  }

  .priority {
    grid-area: priority;
  }

  .description {
    grid-area: desc;
    margin-top: 30px;
  }
}
