$color-bg-overlay: rgba(0, 22, 41, 0.75);

$color-hr: rgba(255, 255, 255, 0.8);

$color-panel-bg: rgba(0, 0, 0, 0.25);
$color-panel-border: rgba(255, 255, 255, 0.25);

$color-text: rgba(255, 255, 255, 0.8);
