$color-bg-overlay: rgba(0, 22, 41, 0.75);

$opacity-hr: 0.5;
$color-hr: rgba(255, 255, 255, $opacity-hr);

$opacity-panel: 0.5;
$color-panel-bg: rgba(0, 0, 0, $opacity-panel);
$color-panel-border: rgba(255, 255, 255, $opacity-panel);

$color-text: rgba(255, 255, 255, 1);
