// Background image overlay colours
$color-bg-overlay-night: rgba(0, 22, 41, 0.5);
$color-bg-overlay-morning: rgba(197, 107, 19, 0.3);
$color-bg-overlay-day: rgba(112, 188, 255, 0.2);

// General colours
$color-white-bright: rgba(255, 255, 255, 1);
$color-white-mid: rgba(255, 255, 255, 0.75);
$color-white-dim: rgba(255, 255, 255, 0.5);
$color-white-dark: rgba(255, 255, 255, 0.25);

$color-black-bright: rgba(0, 0, 0, 1);
$color-black-mid: rgba(0, 0, 0, 0.75);
$color-black-dim: rgba(0, 0, 0, 0.5);

// Panel vars
$opacity-panel: 0.8;

// Dialog vars
$color-dialog-bg: #001629;
$dialog-back-z: 99;
$dialog-z: 100;

$create-dialog-top: 5%;
$create-dialog-left: 35%;

$details-dialog-left: 35%;

$edit-dialog-top: 5%;
$edit-diaog-left: 25%;
$edit-z: 200;
$edit-back-z: 199;

// Button accent colours
$color-btn-blue-shadow: rgba(0, 170, 170, 0.5);
$color-btn-blue-border: #0dd;

$color-btn-red-shadow: rgba(251, 81, 81, 0.4);
$color-btn-red-border: #fb5454;

$color-btn-white-shadow: rgba(255, 255, 255, 0.3);
$color-btn-white-border: #fff;

// Text props
$font-size-large: 2vw;
$font-size-medium: 1.5vw;
$font-size-small: 1vw;
