@import './task-log-colours.scss';

.tl-background {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  background-image: url('../../../dist/assets/task-log/earthFromSpace.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-areas:
    'header header header header'
    'nav  content content content'
    'nav  content content content';
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 9fr;

  &:before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: $color-bg-overlay;
  }
}

hr {
  color: $color-hr;
}

.tl-navbar {
  grid-area: nav;
}
