// Includes styling for app cards

.app-list {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;

  .app-card {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 0px;

    &:hover {
      cursor: pointer;
    }
  }
}
