@import '../../../blether-variables.scss';

.chat-mobile {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .log {
    flex: 1 1 auto;
    width: 100%;
    padding: 10px;
    overflow: auto;

    display: flex;
    flex-direction: column-reverse;
  }

  .input-area {
    flex: 0 0 auto;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;

    display: flex;

    .input {
      flex: 1 1 auto;
      height: 2vh;
      min-height: 30px;
      outline: none;
      height: 100%;
      width: 100%;
      text-align: left;
      padding: 0px 10px;
      border: none;
      background-color: white;
    }

    .send {
      flex: 0 0 20px;
      margin-left: 5px;
      color: $color-text !important;
    }
  }
}

.top-bar {
  flex: 0 0 auto;
  border-bottom: 1px solid black;
  padding: 10px;

  display: flex;
  align-items: center;

  .name {
    flex: 1 1 auto;
    font-size: 5vw;
  }

  .drawer {
    flex: 0 0 30px;
    height: 30px;
  }
}

.drawer-body {
  width: 100%;
  height: 100%;
  background-color: $color-main-accent;

  display: flex;
  flex-direction: column;

  .top-bar {
    flex: 0 0 auto;
    color: white;

    .exit {
      margin-right: 10px;
    }
  }

  .participants {
    flex: 1 1 auto;
    padding: 10px 5px;
    overflow: auto;
    background-color: $color-main-accent;
    color: $color-text;

    display: flex;
    flex-direction: column;

    .item {
      flex: 0 0 30px;
      border: 1px solid black;
      border-radius: 25px;
      margin-bottom: 10px;
      color: $color-text;
      background-color: white;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .chat-id {
    flex: 0 0 120px;
    padding: 6px;
    color: white;

    .id-box {
      border: 1px solid black;
      border-radius: 25px;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .label,
      .id {
        font-size: $font-size-medium;
      }

      .id,
      .button {
        margin-top: 5px;
      }
    }
  }
}
