@import '../../task-log-colours.scss';
@import '../../task-log-anims.scss';

.tl-panel {
  height: 100%;
  color: $color-text;
  background-color: $color-panel-bg;
  box-sizing: border-box;
  border-left: 4px solid $color-panel-border;
  transform-origin: 0% 100%;
  animation: panelExpand 0.3s linear;
  animation-fill-mode: both;

  display: flex;
  flex-direction: column;

  .panel-title {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
}
