.in-game-menu {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #1d3557;
  align-self: flex-start;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .button {
    margin: 8px;
  }
}
