.letter-tile {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 2px;

  // Letter tile content
  display: flex;
  justify-content: center;
  align-items: center;

  &.normal {
    background-color: lightskyblue;
  }

  &.active {
    background-color: gold;
  }

  &.inactive {
    .lt-inner {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: lightgray;
    }
  }
}
