.letter-tile {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 2px;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;

  &.normal {
  }

  &.active {
    background-color: gold;
  }

  &.inactive {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}
