.letter-tile {
  width: 50px;
  height: 50px;
  margin: 5px;

  // to center inner (for when it's a circle)
  display: flex;
  justify-content: center;
  align-items: center;

  .lt-inner {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    color: white; // letter colour
    // to center letter
    display: flex;
    justify-content: center;
    align-items: center;

    &.normal {
      background-color: #56766b;
      transition: background-color 0.5s linear, width 0.5s ease-out, height 0.5s ease-out,
        border-radius 0.5s ease-out;

      &:hover {
        background-color: #c59849;
        transition: background-color 0.1s linear;
      }
    }

    &.active {
      background-color: #c59849;
      transition: background-color 0.1s linear;
    }

    &.inactive {
      width: 20px;
      height: 20px;
      border-radius: 8px;
      background-color: #93b1a7;
      transition: background-color 0.5s ease-out, width 0.5s ease-out, height 0.5s ease-out,
        border-radius 0.5s ease-out;
    }
  }
}
