.wb-game {
  width: 90%;
  height: 90%;
  background-color: #e7eeec;
  // Two main panels, split left-right
  display: flex;
  flex-direction: row;

  &__left {
    width: 50%;

    // Two main panels, split top-bottom
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .wbg-left-top {
      //flex: 0 0 auto;
      margin-bottom: 30px;
    }

    .wbg-left-bot {
      margin-bottom: 20px;
      height: 80px;
    }
  }

  &__right {
    width: 50%;
  }
}
