@import '../../../task-log-colours.scss';

.tl-checklist-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $color-white-dim;
  color: $color-white-dim;
  overflow-y: auto;
  transition: all 0.3s linear;

  display: flex;
  justify-content: center;
  align-items: center;

  &.inactive {
    &:hover {
      border-color: $color-white-mid;
      color: $color-white-mid;
      cursor: pointer;
    }
  }

  &.active {
    border-color: $color-white-bright;
    color: $color-white-bright;
    height: 100%;

    .cl-input {
      width: 100%;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;

      .add-item {
        width: 30px;
        height: 30px;
      }
    }
  }
}
