@import '../../../task-log-colours.scss';

.tl-priority-input {
  display: flex;
  flex-direction: column;
  width: 60px;
  padding: 5px;

  .label {
    color: $color-white-dim;
    margin-bottom: 5px;
  }

  .chevron {
    padding-left: 15px;
    padding-right: 8px;
  }

  .selected {
    svg {
      fill: $color-white-mid;
    }
  }

  .unselected {
    svg {
      fill: $color-white-dark;
    }
  }

  &.hover-mode {
    .selected {
      svg {
        fill: $color-white-bright;
      }
    }
    .label {
      color: $color-white-bright;
    }
  }
}
