@import '../../../task-log-colours.scss';

.tl-priority-input {
  display: flex;
  flex-direction: column;
  width: 40px;
  padding: 10px;

  .selected {
    svg {
      fill: $color-white-mid;
    }
  }

  .unselected {
    svg {
      fill: $color-white-dark;
    }
  }

  &.hover-mode {
    .selected {
      svg {
        fill: $color-white-bright;
      }
    }

    // .unselected {
    //   svg {
    //     fill: $color-white-dim;
    //   }
    // }
  }
}
