@import '../../../task-log-colours.scss';

.tl-text-area {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  line-height: 15px;
  box-sizing: border-box;
  border-bottom: 4px solid $color-white-dim;
  color: $color-white-dim;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 180px;
  min-height: 20px;
  resize: vertical;

  &:focus {
    border-bottom: 4px solid $color-white-bright;
    color: $color-white-bright;
  }
}
