@import '../../../task-log-colours.scss';

.track-icon {
  fill: $color-white-dim;
  &.tracked {
    svg {
      fill: $color-white-mid;
    }
  }
  &:hover {
    svg {
      fill: $color-white-bright;
    }
  }
}
