@import '../../../task-log-colours.scss';

.tl-tracker-input {
  width: 70px;
  padding: 5px;
  display: flex;
  flex-direction: column;

  .label {
    color: $color-white-dim;
    margin-bottom: 10px;
  }

  .track-icon {
    margin-left: 18px;
    margin-right: 12px;
  }

  &:hover {
    .label {
      color: $color-white-bright;
    }
  }
}
