.power-switch {
  width: 10%;
  height: 42%;
  background-color: #555555;
  padding: 2px;
  display: flex;
  flex-direction: column;

  .button-area {
    background-color: black;
    width: 100%;
    height: 58%;
    display: flex;

    .button {
      width: 50%;
      height: 100%;
    }

    .button:hover {
      cursor: pointer;
    }

    &.on {
      justify-content: flex-end;

      .button {
        background-color: #1bcf60;
      }
    }

    &.off {
      .button {
        background-color: #fa4646;
      }
    }
  }

  .button-symbols {
    height: 40%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
