$color-main-bg: #979dac;
$color-main-accent: #778da9;

$color-text: black;

$color-main-border: black;
$color-button-inactive: rgba(0, 0, 0, 0.3);
$color-black-shadow: rgba(0, 0, 0, 0.6);

$font-size-large: 3em;
$font-size-medium: 1.7em;
$font-size-small: 1em;
