@import '../task-log-colours.scss';
@import '../task-log-anims.scss';

.tl-header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &__time {
    color: $color-text;
    align-self: flex-end;
    font-size: 14pt;
  }

  &__hr {
    width: 90%;
    height: 20px;
    align-self: flex-end;

    > hr {
      transform-origin: 100% 50%;
      animation: hrExpand 0.5s ease-in;
      animation-fill-mode: both;
    }
  }
}
