@import '../task-log-colours.scss';

.tl-item-details {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  padding: 20px;
  background-color: $color-black-bright;
  color: $color-white-mid;

  display: grid;
  grid-template-areas:
    'title complete tracked priority'
    'desc desc desc desc'
    'check check check check';
  grid-template-rows: 60px auto auto;
  grid-template-columns: minmax(0, 10fr) repeat(3, minmax(0, 1fr));

  .title {
    grid-area: title;
    font-size: 2vw;
  }

  .complete {
    grid-area: complete;
  }

  .tracking {
    grid-area: tracked;
    margin-left: 0.5vw;
  }

  .priority {
    grid-area: priority;

    .icon-container {
      width: 20px;
    }
  }

  .description-box {
    grid-area: desc;
    font-size: 1.5vw;
    margin-top: 30px;
    overflow-y: auto;
  }

  .checklist-box {
    grid-area: check;
    overflow-y: auto;
  }

  svg {
    fill: $color-white-mid;
    max-height: 3vw;
  }
}
