@import '../task-log-colours.scss';

.tl-item-details {
  width: 100%;
  height: calc(100% - 40px);
  padding: 20px;
  background-color: $color-black-bright;
  color: $color-white-mid;

  display: grid;
  grid-template-areas:
    'title complete tracked priority'
    'title ... ... ...'
    'desc desc desc desc';
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 8fr);
  grid-template-columns: minmax(0, 10fr) repeat(3, minmax(0, 1fr));

  .title {
    grid-area: title;
    font-size: 2vw;
  }

  .complete {
    grid-area: complete;
  }

  .tracked {
    grid-area: tracked;
    margin-left: 0.5vw;
  }

  .priority {
    grid-area: priority;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 45px;

    .icon-container {
      width: 20px;
    }
  }

  .description-box {
    grid-area: desc;
    font-size: 1.5vw;
  }

  svg {
    fill: $color-white-mid;
    max-height: 3vw;
  }
}
