.tl-navbar {
  z-index: 1;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__block {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .item {
      box-sizing: border-box;
      border: 1px solid white;
      width: 90%;
      margin-bottom: 20px;
      height: 40px;

      &:hover {
        cursor: pointer;
        border: 2px solid greenyellow;
      }

      &.active {
        border: 1px solid greenyellow;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          margin-left: -25px;
          height: 100%;
          border-left: 4px solid turquoise;
          transition: all 1s ease;
        }
      }
    }
  }

  .top {
    justify-content: flex-start;
  }

  .bot {
    justify-content: flex-end;
  }
}
