.memo-rune {
  width: 100%;
  height: 100%;

  //background-color: #007fff;

  display: flex;
  justify-content: center;
  align-items: center;

  .left-panel {
    width: 40%;
    height: 90%;
    border: 2px solid black;
    border-radius: 8px;
    margin-right: 5%;
  }

  .rune-area {
    width: 50%;
    height: 90%;
    // need preset rune area sizes... or a css grid

    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .mr-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
