@import '../../../task-log-colours.scss';

.tl-list-item {
  flex: 0 0 40px;
  width: 100%;
  padding: 5px 10px;
  background-color: $color-black-bright;
  color: $color-white-bright;
  margin-bottom: 2px;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    padding: 4px 9px;
    border: 1px solid $color-white-mid;
    border-left: none;
  }

  &.selected {
    padding: 4px 9px;
    border: 1px solid $color-white-bright;
    border-left: none;
  }

  svg {
    fill: $color-white-dim;
  }

  .title {
    flex: 1 1 100%;
  }

  .track-icon {
    flex: 1 1 40px;
    padding: 5px;
    margin-right: 5px;
  }

  .priority {
    flex: 1 1 30px;
    padding: 5px;
  }

  .tracked {
    svg {
      fill: $color-white-mid;
    }
  }
}
